<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>책 상세</title>
	<style>
			table {
				width: 400px;
			}
			td ,tr{
				padding: 10px;
				border: 1px solid #666666;
			}
	</style>
</head>
<body>
	<h1>책 목록</h1>
	<table>
		<tr>
			<th style="width:100px">책 번호</th>
			<th>책 제목</th>
		</tr>
		<tr align="center" th:each="book : ${books.items}">
			<td th:text="${book.bookId}"></td>
			<td><a th:href="@{/book/read/{id}(id=${book.bookId})}" th:text="${book.title}"></a></td>
		</tr>
	</table>
	<!-- 페이징 UI -->
	<p>
		<div style="float:left;"  >
			<form method="GET" th:action="@{/book/list}" >
				<input th:if="${books.currentPage > 0}" type="hidden" th:name="page" th:value="${books.currentPage }" />
				<input type="submit" value="<" />
			</form>
		</div>
		<div style="float:left;" th:if="${books.totalPages > 1}">     
            <span th:each="i : ${#numbers.sequence(1, books.totalPages )}">
                <a th:href="@{'?page=' + ${i}}" th:text="${i}" ></a>
            </span>
    	</div>
		<div   >
		<form method="GET" th:action="@{/book/list}" >
			<input th:if="${books.currentPage +1 < books.totalPages}" type="hidden" th:name="page" th:value="${books.currentPage + 2}" />
			<input type="submit" value=">" />
		</form>
		</div>
	</p>
	<!-- 페이징 UI -->
	<p>
	<a th:href="@{/book/create}" th:text="책생성"></a>
	</p>
	

	
    
    
  
</body>
</html>